@model BlogModel

@* Generated from Custom Template. *@
@* Model namespace using directive should be added to _ViewImports.cshtml. *@

@{
    var containerDivClass = "container bg-dark text-light p-4 rounded shadow-lg";
    var dateTimePickerClass = "datetimepicker";
}
@{
    ViewData["Title"] = "Edit Blog";
}

<div class="@containerDivClass">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    <hr class="text-light" />
</div>

@if (Model is not null)
{
    <div class="@containerDivClass">
        @if (TempData["Message"] is not null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Message"]
            </div>
        }

        <form asp-action="Edit" autocomplete="off" class="needs-validation" novalidate>
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="alert alert-danger d-none"></div>
            <input type="hidden" asp-for="Record.Id" />

            <div class="row mb-3">
                <label asp-for="Title" class="col-3 col-form-label fw-bold">Title</label>
                <div class="col-9">
                    <input asp-for="Record.Title" class="form-control bg-dark text-light border-secondary" />
                    <span asp-validation-for="Record.Title" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Content" class="col-3 col-form-label fw-bold">Content</label>
                <div class="col-9">
                    <textarea asp-for="Record.Content" class="form-control bg-dark text-light border-secondary" rows="15"></textarea>
                    <span asp-validation-for="Record.Content" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Rating" class="col-3 col-form-label fw-bold">Rating</label>
                <div class="col-9">
                    <input asp-for="Record.Rating" class="form-control bg-dark text-light border-secondary" />
                    <span asp-validation-for="Record.Rating" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="PublishDate" class="col-3 col-form-label fw-bold">Publish Date</label>
                <div class="col-9">
                    <input asp-for="Record.PublishDate" class="form-control bg-dark text-light border-secondary @dateTimePickerClass" type="text" />
                    <span asp-validation-for="Record.PublishDate" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="User" class="col-3 col-form-label fw-bold">User</label>
                <div class="col-9">
                    <select asp-for="Record.UserId" class="form-select bg-dark text-light border-secondary" asp-items="ViewBag.UserId">
                        <option value="">-- Select User --</option>
                    </select>
                    <span asp-validation-for="Record.UserId" class="text-danger"></span>
                </div>
            </div>

            @* Can be uncommented and used for many to many relationships. ManyToManyRecord may be replaced with the related entiy name in the controller and views. *@
            @*
                <div class="row mb-3">
                    <label asp-for="ManyToManyRecordIds" class="col-2 col-form-label fw-bold"></label>
                    <div class="col-10">
                        <select multiple asp-for="ManyToManyRecordIds" class="form-select" asp-items="ViewBag.ManyToManyRecordIds"></select>
                        <span asp-validation-for="ManyToManyRecordIds" class="text-danger"></span>
                    </div>
                </div>
            *@

            <hr class="text-light" />
            <div class="text-center mb-5">
                <button type="submit" class="btn btn-success" style="width: 100px;">Save</button>
                &nbsp;&nbsp;
                <button type="reset" class="btn btn-outline-secondary" style="width: 100px;">Reset</button>
                &nbsp;&nbsp;
                <a asp-action="Delete" asp-route-id="@Model.Record.Id" class="btn btn-danger" style="width: 100px;">Delete</a>
                &nbsp;&nbsp;
                <a asp-action="Index" class="btn btn-outline-light" style="width: 150px;">Back to List</a>
            </div>
        </form>
    </div>
}
