@model IEnumerable<BlogModel>

@{
    ViewData["Title"] = "Blog List";
    var containerDivClass = "container mb-5";
}

<div class="@containerDivClass">
    <h1 class="text-center text-light">@ViewData["Title"]</h1>
    <hr class="bg-light" />
</div>

@if (Model is not null)
{
    <div class="@containerDivClass">
        <div class="row text-light mb-3">
            <div class="col-10">
                <strong>@Model.Count()</strong> record(s) found.
            </div>
            <div class="col-2 text-end">
                <a asp-action="Create" class="btn btn-primary">Create</a>
            </div>
        </div>
        <div class="row g-3">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card bg-dark text-light shadow-lg h-100">
                        <img src="https://wallpapers.com/images/hd/dark-landscape-1683-x-840-wallpaper-m66ybu9vbcwob2e8.jpg" class="card-img-top" alt="Blog Image" style="height: 200px; object-fit: cover;" />
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text text-truncate">@item.Content</p>
                            <div class="d-flex justify-content-between">
                                <span class="badge bg-primary">@item.Rating</span>
                                <small class="text-muted">@item.PublishDate.ToShortDateString()</small>
                            </div>
                            <p class="card-text">
                                <small class="text-muted">Published by: @item.UserName</small>
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a asp-action="Details" asp-route-id="@item.Record.Id" class="btn btn-sm btn-outline-light">Details</a>
                            <a asp-action="Edit" asp-route-id="@item.Record.Id" class="btn btn-sm btn-outline-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Record.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
}
